body{
margin:0;
font-family:'Poppins',sans-serif;
background:linear-gradient(135deg,#ffe6f2,#e6f0ff,#e6fff5);
background-size:400% 400%;
animation:bgmove 10s infinite alternate;

background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url("flower.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

@keyframes bgmove{
0%{background-position:left;}
100%{background-position:right;}
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:white;
box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

.logo{
color:#ff4da6;
}

nav a{
margin-left:20px;
text-decoration:none;
color:#333;
font-weight:500;
}

.hero{
display:flex;
align-items:center;
justify-content:space-between;
padding:80px;
}

.hero-text{
max-width:500px;
}

.hero-text h1{
font-size:40px;
color:#333;
}

.hero-text h3{
color:#ff4da6;
}

.buttons a{
display:inline-block;
margin:10px;
padding:10px 20px;
border-radius:25px;
background:#ff4da6;
color:white;
text-decoration:none;
transition:0.3s;
}

.buttons a:hover{
transform:scale(1.1);
}

.hero-img img{
width:260px;
border-radius:50%;
box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

section{
padding:80px;
text-align:center;
}

.skills-container{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:20px;
}

.skill{
background:white;
padding:15px 25px;
border-radius:20px;
box-shadow:0 5px 20px rgba(0,0,0,0.1);
transition:0.3s;
}

.skill:hover{
transform:translateY(-5px);
}

.projects{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
}

.card{
background:white;
padding:25px;
border-radius:15px;
box-shadow:0 10px 25px rgba(0,0,0,0.1);
transition:0.3s;
}

.card:hover{
transform:translateY(-10px) scale(1.03);
}

.card a{
display:inline-block;
margin-top:10px;
color:#ff4da6;
text-decoration:none;
font-weight:bold;
}

footer{
text-align:center;
padding:20px;
background:#fff;
margin-top:40px;
}

#about p{
margin-left: 17vw;
text-align: left;
}